@use "./color" as c;
@import "./mixins";
.jumbotron {
  padding: 10vh 10vw 0 10vw;
  display: flex;
  justify-content: center;
  background-size: cover !important;
  color: white;
  align-items: center;
  gap: 2em;
  > div {
    width: 50% !important;
    // padding: 0 4em;
  }
  .jumbotronTitleSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    img {
      max-width: 100%;
    }
    p {
      text-align: center;
      font-size: 1.8em;
    }
    .buttons {
      display: flex;
      gap: 1em;
      width: 100%;
      * {
        width: 100%;
      }
    }
    z-index: 1;
    box-sizing: border-box;
    h1 {
      text-align: center;
      font-size: 4em;
      border-bottom: solid;
      border-width: 1px;
      border-color: c.$White;
    }
    p {
      text-align: justify;
    }
  }
  :global .new-nft-jumbotron-section {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    > div {
      position: relative;
      width: fit-content;
      min-width: 20vw;
      padding: 20px;
      gap: 1em;
      height: 100%;
      min-height: 40vh;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      h1 {
        z-index: 1;
      }
    }
  }
  @include desktop() {
    .jumbotronTitleSection {
      width: 100%;
      order: 2;
      .jumbotronTitle {
        justify-content: flex-end !important;
      }
    }
    > div {
      width: 100% !important;
      // padding: 0 2em;
    }
    padding: 0 5vw;
    flex-direction: column;
    gap: 3em;
    height: fit-content;
    padding-bottom: 5%;
  }
}
.nftImageWrapperJumboSection {
  width: 100%;
  max-width: 400px;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  //   padding: 5px;
  //   background-color: c.$SectionBackground;
  border-radius: 10px;
  img {
    max-width: 100%;
    max-height: 50vh;
    border-radius: 10px;
  }
  @include desktop() {
    width: 80vw;
  }
}
